html, body {
  width: 100%;
  height: 100%;
  font-size: 15px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: #3C3C3C;
}
.carousel {
	padding-top: 3rem;
	min-height: 13rem;
}
.carousel img{
  width: 100%;
  
  
}
